extends ../layout

block content
	div.container
		div.page-header
			h1 Enter New Round
		div.row
			form(action="/golf" method="post")
				label score
				input(name="score", type="number")
				label course
				input(name="course", type="text")
				input(type="submit", value="enter")