extends ../layout

block content
	div.container
		div.page-header
			h1 Enter New Round
		div.row
			div.col-sm-12
				form(action="/golf/rounds/" method="post")
					p score
					input(name="score", type="number")
					p course
					input(name="course", type="text")
					input.btn.btn-primary(type="submit", value="Post")